body {
  width: 100%;
  overflow-x: hidden;
  max-width: 100%;
  font: 14px Roboto, sans-serif;
  line-height: 1.429;
}

.container {
  max-width: 1110px;
  width: 1100px;
  margin: 0 auto;
}

%accent-hover{
  &:hover{
    color: $accent;
    text-shadow: $accent 2px;
    //+min(1024) {
    //  @include transitionAll();
    //}
  }
}


#trapezoid {
  border-bottom: 100px solid red;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  height: 0;
  width: 100px;
}

.progress{
  max-width: 520px;
  width: 100%;
  &__bar{
    position: relative;
    border: 3px solid blue;
    display: flex;
    width: 100%;
    height: 30px;
    border-radius: 30px;
    //dodgerblue;
  }

  &__bar-left{
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: calc(50% + 14.5px);
    background-color: blue;
    border-width: 0 0 20px 0;
    border-radius: 30px 0 0 30px;
    &:after{
      position: absolute;
      right: -28px;
      bottom: 0;
      content: '';
      width: 0;
      height: 0;
      border-bottom: 29px solid blue;
      border-right: 29px solid transparent;
      z-index: 10;
      }
    }

  &__bar-right{
    position: absolute;
    top: -2px;
    bottom: -2px;
    right: -2px ;
    left: calc(50% - 14.5px);
    background: linear-gradient(90deg, rgba(blue, .6), white);
    border-radius: 0 30px 30px 0;
  }
}